@page "/Portfolio/"

@using Gotchi
@using Gotchi.Portfolios.CommandService
@using Gotchi.Portfolios.DTOs
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims

@using GotchiWeb.Areas.Users.Shared

@inject IJSRuntime js
@inject GotchiHostService _gotchiHostService

<h3>Portfolio</h3>

<h4>Sell Asset</h4>
<EditForm Model="@sellAssetModel" OnValidSubmit="@SellAsset">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-12 row">
        <label class="col-2 font-weight-bold">CoinMarket Id:</label>
        <InputText id="coinId" @bind-Value="sellAssetModel.CoinMarketId" />
        &nbsp;<ValidationMessage For="@(() => sellAssetModel.CoinMarketId)" />
    </div>

    <div class="col-12 row">
        <label class="col-2 font-weight-bold">Units:</label>
        <InputNumber id="Amount" @bind-Value="sellAssetModel.Units" />
        &nbsp;<ValidationMessage For="@(() => sellAssetModel.Units)" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

<BuyAsset></BuyAsset>

@if (_loadState == LoadState.NotLoaded)
{
    <p><em>Loading...</em></p>
}
else if(_loadState == LoadState.NotFound)
{
    <GetStarted UserId="@_userId" ReloadAddress="/Portfolio/"></GetStarted>
}
else if (_portfolio is not null)
{
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Balance</th>
                <th>Assets Count</th>
                <th>BalanceLastUpdated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@_portfolio.Balance</td>
                <td>@_portfolio.Assets.Count</td>
                <td>@_portfolio.BalanceLastUpdated</td>
            </tr>
        </tbody>
    </table>

    <br/>
    <h4>Assets</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CoinMarketId</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Symbol</th>

                <th>Profit</th>
                <th>Units</th>
                <th>CurrentPrice</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var asset in _portfolio.Assets)
            {
                <tr>
                    <td>@asset.CoinMarketId</td>
                    <td>@asset.Name</td>
                    <td>@asset.Slug</td>
                    <td>@asset.Symbol</td>

                    <td>@asset.Profit</td>
                    <td>@asset.Units</td>
                    <td>@asset.CurrentPrice</td>
                </tr>
            }
        </tbody>
    </table>
}

<BuyAsset></BuyAsset>


@code {

    [Parameter]
    public string? portfolioId { get; set; }

    private LoadState _loadState = LoadState.NotLoaded;
    private string? _userId;
    private PortfolioDTO? _portfolio = null!;

    private BuyAssetUiModel buyAssetModel = new();
    private SellAssetUiModel sellAssetModel = new();

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState =  await authenticationState;
        _userId = authState.User.Claims.First(x => x.Type == ClaimTypes.SerialNumber).Value;
        _portfolio = await _gotchiHostService.DataAccess().PortfolioByPersonIdAsync(_userId);

        if (_portfolio is null)
        {
            _loadState = LoadState.NotFound;
        } 
        else
        {
            _loadState = LoadState.FoundPortfolio;    
        }
    }

    private async Task BuyAsset()
    {
        var command = new BuyAssetsCommand(_portfolio.Id, buyAssetModel.CoinMarketId, buyAssetModel.AmountInValue);
        _gotchiHostService.CommandService().Process(command);

        buyAssetModel = new BuyAssetUiModel();
        //_portfolio = GetPortfolio(_userId);
    }

    private async Task SellAsset()
    {
        var command = new SellAssetsCommand(_portfolio.Id, sellAssetModel.CoinMarketId, sellAssetModel.Units);
        _gotchiHostService.CommandService().Process(command);

        sellAssetModel = new SellAssetUiModel();
        //_portfolio = GetPortfolio(_userId);
    }

    private async Task<PortfolioDTO?> GetPortfolio(string userId)
    {
        return await _gotchiHostService.DataAccess().PortfolioByPersonIdAsync(_userId);
    }


    private enum LoadState
    {
        NotLoaded,
        NotFound,
        FoundPortfolio
    }

    private class BuyAssetUiModel
    {
        [Required(ErrorMessage = "CoinMarket Id required")]
        public string? CoinMarketId { get; set; }

        [Required(ErrorMessage = "CoinMarket Id required")]
        [Range(1, int.MaxValue, ErrorMessage = "Value should be greater than or equal to 1")]
        public float AmountInValue { get; set; }
    }

    private class SellAssetUiModel
    {
        [Required(ErrorMessage = "CoinMarket Id is required")]
        public string? CoinMarketId { get; set; }

        [Required(ErrorMessage = "Number of units is required")]
        public float Units { get; set; }
    }

    private void ShowPopup()
    {
        // Call the JavaScript function to show the popup
        js.InvokeVoidAsync("showPopup");
    }

    /*
     
    private Timer timer;

    protected override void OnInitialized()
        {
        // Start the timer when the component is initialized
        timer = new Timer(TimerCallback, null, TimeSpan.Zero, TimeSpan.FromSeconds(60));
    }

    private void TimerCallback(object state)
        {
        // Code to be executed every 60 seconds
        // For example, you can update data or perform some periodic task

        // Ensure UI updates are performed on the UI thread
        InvokeAsync(() =>
            {
            // Toggle the value to show/hide the element
            shouldShowElement = !shouldShowElement;

            // Notify Blazor that the state has changed
            StateHasChanged();
    });
    }

    private void ShowElement()
        {
        // Toggle the value to show/hide the element immediately
        shouldShowElement = !shouldShowElement;
    }

    // Don't forget to stop the timer when the component is disposed
    public void Dispose()
        {
        timer?.Dispose();
    }
    */
}
